/// Button Color
///
$c-button-background: #F57423;
///
$c-button-border: #FFF;
///
$c-button-font: #FFF;

/// Font Colors
$c-yellow: #FFAA00;
$c-yello-dark: #393937;
$c-gold: #FFB41E;
$c-brick: #E87400;
$c-blue: #0085CC;
$c-blue-2: #0793DB;
$c-blue-3: #079CE7;
$c-blue-4: #3CAAC5;
$c-blue-5: #80D4FF;
$c-blue-6: #52659A;
$c-blue-8: #088FD5;
$c-teal: #58B9C7;
$c-grey: #6F6D69;
$c-grey-location: #73716E;
$c-grey-brown: #605953;
$c-dark-brown: #523523;
$c-black: #000000;


/////
$c-black-blue: #021C44;
///
$c-blue-three: #03435C;
///
$c-black-purple: #4A4A4A;
///
$c-black-grey: #4C5467;

/// Background Colors
$c-white: #FFFFFF;
$c-teal-light: #5AC8C0;
$c-teal-lighter: #DFF9FF;
$c-teal-dark: #339C94;
$c-blue-grey: #DFE5EB;

/// Specials Cards
///
$c-card1: #1A6983;
///
$c-card2: #0489B5;
///
$c-card3: #1E51A2;

/// Misc
///
$c-star: #F5E82E;